# Android Studio
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
*.class
*.jar

# IntelliJ
.idea/
*.iws
*.ipr

# Miscellaneous
*.log
*.keystore